.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.mt-140{
  margin-top:140px ;
}
.text {
  flex: 1.5;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.step {
  display: flex;
  align-items: center;
}

.step-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #81C408;
  color: #fff;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.step h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.step p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #666;
}

.image {
  flex:0.8;
  
}

.image img {
  width: 140%;
  height: 100%;
  border-radius: 30px;
 
}


.text h1 {
  margin-bottom: 50px; /* Augmente la distance entre h1 et les éléments suivants */
}